img.ocpc_rating_div {
    width: 105px;
    vertical-align: middle;
}
.ocpc-container ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.ocpc-container ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}
.ocpc-container ul.tabs li.current{
    background: #d8d7d7;
    color: #222;
}
.ocpc-container .tab-content{
    display: none;
    background: #d8d7d7;
    padding: 15px;
}
.ocpc-container .tab-content.current{
    display: inherit;
}
p.ocpc-tips {
    margin: 2px 0 5px !important;
    color: #666;
    font-size: 12px !important;
    font-style: italic;
}
.ocpc_shortcode {
    margin-bottom: 10px;
    background-color: #084796;
    padding: 5px;
}
.ocpc_shortcode span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 10px;
}
.ocpc-container tr td:first-child {
    width: 180px;
}
.ocpc-container table.form-table select, 
.ocpc-container table.form-table input[type="text"], 
.ocpc-container table.form-table input[type="number"], 
.ocpc-container table.form-table input[type="color"] {
    width: 40%;
}
.ocpc-container .radio {
    margin: 16px 0;
    cursor: pointer;
    width: 22%;
    display: inline-block;
}
.ocpc-container .radio input {
  display: none;
}
.ocpc-container .radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
}
.ocpc-container .radio input + span:not(:empty) {
  padding-left: 30px;
}
.ocpc-container .radio input + span:before, .radio input + span:after {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
.ocpc-container .radio input + span:before {
  background: #d1d7e3;
  transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.ocpc-container .radio input + span:after {
  background: #fff;
  -webkit-transform: scale(0.78);
  transform: scale(0.78);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.ocpc-container .radio input:checked + span:before {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  background: #5d9bfb;
}
.ocpc-container .radio input:checked + span:after {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
